:root {
  --area-height: 220px;
  --area-width: 270px;
  --board-padding: 10px;
  --card-height: 100px;
  --card-width: 71.4219px;
}

#game-area {
  display: none;
}

#board {
  background-color: #82E0AA;
  min-height: 768px;
  position: relative;
}

.deck img {
  height: var(--card-height);
  left: calc(50% - var(--card-width) / 2);
  position: absolute;
  top: calc(50% - var(--card-height) / 2);
}

.deck img:nth-child(2) {
  left: calc(50% - var(--card-width) / 2 + 2px);
}

.deck img:nth-child(3) {
  left: calc(50% - var(--card-width) / 2 + 4px);
}

.deck img:nth-child(4) {
  left: calc(50% - var(--card-width) / 2 + 6px);
}

.player-area {
  min-width: var(--area-width);
  position: absolute;
}

.player-area.h-left {
  left: var(--board-padding);
}

.player-area.h-center-left {
  left: calc(33% - var(--area-width) / 2);
}

.player-area.h-center {
  left: calc(50% - var(--area-width) / 2);
}

.player-area.h-center-right {
  left: calc(67% - var(--area-width) / 2);
}

.player-area.h-right {
  right: var(--board-padding);
}

.player-area.v-top {
  top: var(--board-padding);
}

.player-area.v-center {
  top: calc(50% - var(--area-height) / 2);
}

.player-area.v-bottom {
  bottom: var(--board-padding);
}

.player-area .card-body {
  min-height: 135px;
}

.player-area .card-holder {
  position: relative;
}

.player-area .card-holder img {
  height: 100px;
}

.player-area .card-holder img:nth-child(2) {
  position: absolute;
  left: 18px;
}

.player-area .card-holder img:nth-child(3) {
  position: absolute;
  left: 36px;
}

.player-area .card-holder img:nth-child(4) {
  position: absolute;
  left: 54px;
}

.player-area .card-holder img:nth-child(5) {
  position: absolute;
  left: 72px;
}

.player-area .card-holder img:nth-child(6) {
  position: absolute;
  left: 90px;
}

.player-area .card-holder img:nth-child(7) {
  position: absolute;
  left: 108px;
}

.player-area .card-holder img:nth-child(8) {
  position: absolute;
  left: 126px;
}

.drop-area {
  height: var(--card-height);
  position: absolute;
}

.drop-area.h-right-of-left {
  left: calc(2 * var(--board-padding) + var(--area-width));
}

.drop-area.h-center-left {
  left: calc(37% - var(--card-width) / 2);
}

.drop-area.h-center {
  left: calc(50% - var(--card-width) / 2);
}

.drop-area.h-center-right {
  left: calc(63% - var(--card-width) / 2);
}

.drop-area.h-left-of-right {
  right: calc(2 * var(--board-padding) + var(--area-width));
}

.drop-area.h-center-of-right {
  right: calc(var(--board-padding) + var(--area-width) / 2 - var(--card-width) / 2);
}

.drop-area.v-below-top {
  top: calc(2 * var(--board-padding) + var(--area-height));
}

.drop-area.v-center {
  top: calc(50% - var(--card-height) / 2);
}

.drop-area.v-above-bottom {
  bottom: calc(2 * var(--board-padding) + var(--area-height));
}

#controls {
  font-family: 'Noto Sans Symbols 2';
}

.scrollable {
  max-height: 95vh;
  overflow-y: scroll;
}

#score-table thead th:not(:first-child),
#score-table tfoot th:not(:first-child) {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

#score-table thead th {
  border-bottom: 3px solid black;
}

#score-table tbody tr {
  cursor: pointer;
}

#score-table td, #score-table th {
  border-left: 1px solid var(--bs-table-border-color);
}
